
.dialog{
    height: 100%;
}

.title{
    font-size: 2em;
    margin-bottom: 1em;
    color:#2f3a8f;
}
.mat-mdc-raised-button.mat-unthemed {
    --mdc-protected-button-container-color: #3cba5f ;
    --mdc-protected-button-label-text-color: #ffffff;
}

// .padding-2em{
//     padding: 2em;
// }

// .m-b-1em{
//     margin-bottom: 1em;
// }