<div class="full-height flex column center-center ">
    <mat-card class="full-height full-width center-center padding-2em ">
        <div mat-dialog-title class="font contailner"> Register Company</div>
        <div mat-dialog-content class="full-width contailner">
            <form [formGroup]="registrationForm" class="formsize">
                <div class="small-title">Company Details</div>
                <div class="flex gap-1em full-width column">
                    <div class="flex gap-1em full-width">
                        <!-- company name -->
                        <mat-form-field appearance="outline" class="flex-1">
                            <mat-label>Company Name</mat-label>
                            <input [readonly]="_data" type="text" matInput placeholder="xyz Company" formControlName="companyName">
                            <mat-error >
                                Company Name is required
                            </mat-error>
                        </mat-form-field>
                        <!-- company registration number -->
                        <mat-form-field appearance="outline" class="flex-1">
                            <mat-label>Company registration Number </mat-label>
                            <input [readonly]="_data" type="number" matInput placeholder="0000000000"
                                formControlName="companyRegistrationNumber">
                            <mat-error *ngIf="registrationForm.get('companyRegistrationNumber')?.hasError('required')">
                                Company registration Numberis required
                            </mat-error>
                            <mat-error *ngIf="registrationForm.get('companyRegistrationNumber')?.hasError('min')">
                                Company registration Number requires 6 charactors
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <!-- company logo -->
                    <div class="flex column m-b-1em h-38">
                        <input [readonly]="_data" type="file" id="file" (change)="fileUpload($event)" placeholder="file">
                        <small class="red" *ngIf="fileUploadResult === 0 && registrationForm.valid">
                            Company Logo is required
                        </small>
                    </div>
                </div>
                <!-- location -->
                <div class="small-title">Address</div>
                <div formGroupName="address" class="flex column gap-1em ">
                    <!-- streetname -->
                    <div class="flex gap-1em full-width">
                        <mat-form-field appearance="outline" class="flex-1">
                            <mat-label>Street Name</mat-label>
                            <input [readonly]="_data" type="text" matInput placeholder="xyz Company" formControlName="streetName">
                            <mat-error *ngIf="registrationForm.get('address.streetName')?.hasError('required')">
                                Street Name is required
                            </mat-error>
                        </mat-form-field>

                        <!-- street number -->
                        <mat-form-field appearance="outline" class="flex-1">
                            <mat-label>Street Number</mat-label>
                            <input [readonly]="_data" type="number" matInput placeholder="0000" formControlName="streetNumber">
                            <mat-error *ngIf="registrationForm.get('address.streetNumber')?.hasError('required')">
                                Street Number is required
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <!-- city -->
                    <div class="flex gap-1em full-width">
                        <mat-form-field appearance="outline" class="flex-1">
                            <mat-label>City</mat-label>
                            <input [readonly]="_data" type="text" matInput placeholder="xyz Company" formControlName="city">
                            <mat-error *ngIf="registrationForm.get('address.city')?.hasError('required')">
                                City is required
                            </mat-error>
                        </mat-form-field>
                        <!-- code -->
                        <mat-form-field appearance="outline" class="flex-1">
                            <mat-label>Code</mat-label>
                            <input [readonly]="_data" type="number" matInput placeholder="xyz Company" formControlName="code">
                            <mat-error *ngIf="registrationForm.get('address.code')?.hasError('required')">
                                Code is required
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <!-- contacts email -->
                <div class="small-title">Contact details</div>
                <div class="flex gap-1em">
                    <mat-form-field appearance="outline" class="flex-1">
                        <mat-label>Email</mat-label>
                        <input [readonly]="_data" type="email" matInput placeholder="xyz@gmail.com" formControlName="email">
                        <mat-error *ngIf="registrationForm.get('email')?.hasError('required')">
                            Email Adreess is required
                        </mat-error>
                        <mat-error *ngIf="registrationForm.get('email')?.hasError('pattern')">
                            enter a valid Email Adreess
                        </mat-error>
                    </mat-form-field>
                    <!-- contacts tell phone -->
                    <mat-form-field appearance="outline" class="flex-1">
                        <mat-label>cell Number</mat-label>
                        <input [readonly]="_data" type="number" matInput placeholder="0000000000" formControlName="cellNumber">
                        <mat-error *ngIf="registrationForm.get('cellNumber')?.hasError('required')">              
                            cell Number is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <!-- password -->
                <div class="flex gap-1em">
                    <mat-form-field appearance="outline" class="flex-1">
                        <mat-label>Password</mat-label>
                        <input type="password" matInput formControlName="password" placeholder="Enter your Password" maxlength="10">
                        <mat-error *ngIf="registrationForm.get('password')?.hasError('required')">
                            Password is <strong>required</strong>
                        </mat-error>
                        <mat-error *ngIf="registrationForm.get('password')?.hasError('minlength')">
                            Password should at least have 4 charectors
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="flex-1">
                        <mat-label>Confrim Password</mat-label>
                        <input type="password" matInput formControlName="confirmPassword" placeholder="Confrim your Password">
                        <mat-error *ngIf="registrationForm.get('confirmPassword')?.hasError('required')">
                            Confrim Password is <strong>required</strong>
                        </mat-error>
                        <mat-error *ngIf="registrationForm.get('confirmPassword')?.hasError('pattern')">
                            Your password doesn't match!
                        </mat-error>
                    </mat-form-field>
                </div>
                <!-- button -->
                <div class="flex center-center full-width gap-1em">
                    <button mat-raised-button class="btn-cancel flex-1 " (click)="registrationForm.reset()">cancel</button>
                    <button mat-raised-button class="btn-submit flex-1 " *ngIf="!_data" (click)="submit()">submit</button>
                </div>
            </form>
        </div>
    </mat-card>

</div>