.width-48{
   width: 48%;
}

.main-form{
   display: flex;
   flex-wrap: wrap;
   gap: .5em;
   justify-content: center;
   align-items: center;
}

.add-bus{
   font-size: 2em;
   text-align: center;
}

.radios{
   width: 100%;
   padding-left: 10px;
}

.color-red {
   color: red;
}