<div class="main-form-div full-height ">
    <p class="add-bus">Add Bus</p>
    <form [formGroup]="addDriverForm" class="main-form">
        <mat-form-field appearance="outline" class="width-48">
            <mat-label>Make</mat-label>
            <input type="text" matInput placeholder="Toyota" formControlName="make">
            <mat-error *ngIf="addDriverForm.get('make')?.hasError('required')">
                Make is <strong>Required</strong>
            </mat-error>
        </mat-form-field>
        <!--  bus number -->
        <mat-form-field appearance="outline" class="width-48">
            <mat-label>Bus Number</mat-label>
            <input type="number" matInput placeholder="1184" formControlName="busNumber">
            <mat-error *ngIf="addDriverForm.get('busNumber')?.hasError('required')">
                Company registration Number is required
            </mat-error>
            <mat-error *ngIf="addDriverForm.get('busNumber')?.hasError('min')">
                Company registration Number requires 4 characters
            </mat-error>
        </mat-form-field>
        <!-- Model -->
        <mat-form-field class="width-48">
            <mat-label>Model</mat-label>
            <mat-select formControlName="model">
                <mat-option *ngFor="let model of models" [value]="model">{{model | titlecase}}</mat-option>
            </mat-select>
            <mat-error *ngIf="addDriverForm.get('model')?.hasError('required')">
                Model is required
            </mat-error>
        </mat-form-field>
         <!-- Occupancy -->
         <mat-form-field class="width-48">
            <mat-label>Occupancy</mat-label>
            <mat-select formControlName="occupant">
                <mat-option *ngFor="let occupant of occupancy" [value]="occupant">{{occupant |
                    titlecase}}</mat-option>
            </mat-select>
            <mat-error *ngIf="addDriverForm.get('occupant')?.hasError('required')">
                Occupant is required
            </mat-error>
        </mat-form-field>

         <!-- Number plate -->
         <mat-form-field appearance="outline" class="width-48">
            <mat-label>Number Plate</mat-label>
            <input type="text" matInput placeholder="HDG12GP" formControlName="numberPlate">
            <mat-error *ngIf="addDriverForm.get('numberPlate')?.hasError('required')">
                Number Plate is required
            </mat-error>
            <mat-error *ngIf="addDriverForm.get('numberPlate')?.hasError('min')">
                Number Plate requires 8 characters
            </mat-error>
        </mat-form-field>

        <!--  disc number-->
        <mat-form-field appearance="outline" class="width-48">
            <mat-label>Disc Number</mat-label>
            <input type="text" matInput placeholder="1245567891GH" formControlName="discNumber">
            <mat-error *ngIf="addDriverForm.get('discNumber')?.hasError('required')">
                Company registration Numberis required
            </mat-error>
            <mat-error *ngIf="addDriverForm.get('discNumber')?.hasError('min')">
                Company registration Number requires 6 characters
            </mat-error>
        </mat-form-field>

        <div class="flex column radios ">
            <!-- Radio Button -->
            <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="1">Roadworthy certificate</mat-radio-button>
                <mat-radio-button value="2">Disc</mat-radio-button>
            </mat-radio-group>
            <!-- upload -->
            <div class="h-38">
                <input type="file" id="file" (change)="fileUpload($event)" 
                    placeholder="file">
                <small class="color-red" *ngIf="fileUploadResult === 0 &&  addDriverForm.valid">
                    Document is required
                </small>
            </div>
        </div>

        <!-- button -->
        <div class="flex gap-1em center-center full-width ">
            <button mat-raised-button class="width-48" color="warn">Cancel</button>
            <button mat-raised-button class="width-48" color="primary" (click)="submit()">Submit</button>
        </div>


    </form>
</div>