<div class="full-height m-10px center-center flex column gap-1em">
    <p class="pStyles pointer" (click)="close()">X</p>
    <h3 class="text-center p flex">Tracker Result</h3>
    <mat-card class="card">
        <google-map height="400px" width="750px" [center]="center" [zoom]="zoom">
            <!-- Stops -->
            <map-marker *ngFor="let marker of busStops" [position]="marker.position" [icon]="marker.icon"
                [title]="marker.title" />
            <!-- Route Stops -->
            <map-marker *ngFor="let marker of alternativeStops" [position]="marker.position" [title]="marker.title" />
            <!-- Buses -->
            <map-marker *ngFor="let marker of availableBuses" [position]="marker.position" [icon]="marker.icon"
                [title]="marker.title" />
            <!-- Directions -->
            <map-directions-renderer [directions]="directionsResults" />
        </google-map>
    </mat-card>
    <p class="no-margin">Estimated Arrival Time: {{ estimatedArrivalTime }}</p>
    <p class="no-margin">From: {{busStops[0].title}}</p>
    <p class="no-margin">To: {{busStops[1].title}}</p>
</div>