.size80 {
   width: 80%;
   height: 80%;
}

.mat-mdc-raised-button.mat-unthemed {
   --mdc-protected-button-container-color: #3cba5f;
   --mdc-protected-button-label-text-color: #ffffff;
}

.btn-submit {
   background: #3cba5f !important;
   color: #ffffff !important;
   width: 40% !important;
}

.color {
   color: #f00101;
}

.container {
   color: #2f3a8f;
}

.font {
   font-size: 2em;
   margin-bottom: 1em;
   text-align: center;
}

.padding-20 {
   padding: 20px;
}