<div class="flex column full-width main-container">
  <div class="header full-width flex space-around start-center">
    <div>
      <img src="../../../assets/images/Gauteng-Coaches-Logo.png" alt="">
    </div>
    <div class="flex gap-1em">
      <div class="flex column nav center-center" *ngFor="let _nav of navItems; let i = index">
        <p (click)="changeContentDisplay(i)" class="no-margin p pointer">{{_nav}}</p>
        <div class="underline" *ngIf="selectedNav === i">
        </div>
      </div>
    </div>
  </div>
  <div class="flex full-width center-center">
    <mat-card class="flex column">
      <mat-tab-group *ngIf="showHomeContent">
        <!-- All buses -->
        <mat-tab label="All Buses">
          <div class="table-container">
            <mat-form-field appearance="outline" class="filter">
              <mat-label>Filter</mat-label>
              <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Gauteng Coaches" #input>
            </mat-form-field>

            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8"  *ngIf="formHasData">

              <!-- Make -->
              <ng-container matColumnDef="make">
                <th mat-header-cell *matHeaderCellDef> Make </th>
                <td mat-cell *matCellDef="let element"> {{element.make}} </td>
              </ng-container>
              <!-- Model -->
              <ng-container matColumnDef="model">
                <th mat-header-cell *matHeaderCellDef> Model </th>
                <td mat-cell *matCellDef="let element"> {{element.model}} </td>
              </ng-container>
              <!-- Number plate -->
              <ng-container matColumnDef="numberPlate">
                <th mat-header-cell *matHeaderCellDef> Number Plate </th>
                <td mat-cell *matCellDef="let element"> {{element.numberPlate}} </td>
              </ng-container>
              <!-- Occupants -->
              <ng-container matColumnDef="ocupants">
                <th mat-header-cell *matHeaderCellDef> Occupancy </th>
                <td mat-cell *matCellDef="let element"> {{element.occupant}} </td>
              </ng-container>
              <!-- Disc number -->
              <ng-container matColumnDef="discNumber">
                <th mat-header-cell *matHeaderCellDef> Disc Number </th>
                <td mat-cell *matCellDef="let element"> {{element.discNumber}} </td>
              </ng-container>
              <!-- Bus number -->
              <ng-container matColumnDef="busNumber">
                <th mat-header-cell *matHeaderCellDef> Bus Number </th>
                <td mat-cell *matCellDef="let element"> {{element.busNumber}} </td>
              </ng-container>
              <!-- Actions -->
              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Actions </th>
                <td mat-cell *matCellDef="let element"> <mat-icon class="pointer"
                    (click)="delete('bus',element)">delete</mat-icon> </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

              <!-- Row shown when there is no matching data. -->
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
              </tr>
            </table>

            <div *ngIf="!formHasData">
              No data available
            </div>
            <mat-paginator [length]="200" [pageSizeOptions]="[10, 50, 100]" aria-label="Select page">
            </mat-paginator>
          </div>
        </mat-tab>
        <!-- End All buses -->
        <!-- All Drivers -->
        <mat-tab label="All Drivers">
          <div class="table-container">
            <mat-form-field appearance="outline" class="filter">
              <mat-label>Filter</mat-label>
              <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Gauteng Coaches" #input>
            </mat-form-field>

            <table mat-table [dataSource]="dataSource1" class="mat-elevation-z8">

              <!-- Name -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element">{{element.name}}</td>
              </ng-container>
              <!-- Surname -->
              <ng-container matColumnDef="surname">
                <th mat-header-cell *matHeaderCellDef> Surname </th>
                <td mat-cell *matCellDef="let element"> {{element.surname}} </td>
              </ng-container>
              <!-- Id number -->
              <ng-container matColumnDef="idNumber">
                <th mat-header-cell *matHeaderCellDef> Id Number </th>
                <td mat-cell *matCellDef="let element">{{ element.idNumber}} </td>
              </ng-container>
              <!-- License Number -->
              <ng-container matColumnDef="licenseNumber">
                <th mat-header-cell *matHeaderCellDef> Licence Number </th>
                <td mat-cell *matCellDef="let element"> {{element.licenseNumber}} </td>
              </ng-container>
              <!-- email -->
              <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> Email </th>
                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
              </ng-container>
              <!-- Contact -->
              <ng-container matColumnDef="cellNumber">
                <th mat-header-cell *matHeaderCellDef> Cell Number </th>
                <td mat-cell *matCellDef="let element"> {{element.cellNumber}} </td>
              </ng-container>
              <!-- Experience -->
              <ng-container matColumnDef="experience">
                <th mat-header-cell *matHeaderCellDef> Experience </th>
                <td mat-cell *matCellDef="let element"> {{element.experience}} </td>
              </ng-container>
              <!-- Actions -->
              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Actions </th>
                <td mat-cell *matCellDef="let element"> <mat-icon class="pointer"
                    (click)="delete('driver',element)">delete</mat-icon> </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>

              <!-- Row shown when there is no matching data. -->
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
              </tr>
            </table>
            <mat-paginator [length]="200" [pageSizeOptions]="[10, 50, 100]" aria-label="Select page">
            </mat-paginator>
          </div>
        </mat-tab>
        <!-- End All Drivers -->
        <!-- All Trips -->
        <mat-tab label="All Trips">
          <div class="table-container">
            <mat-form-field appearance="outline" class="filter">
              <mat-label>Filter</mat-label>
              <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Gauteng Coaches" #input>
            </mat-form-field>

            <table mat-table [dataSource]="dataSource2" class="mat-elevation-z8">

              <!--Origin-->
              <ng-container matColumnDef="origin">
                <th mat-header-cell *matHeaderCellDef>Origin</th>
                <td mat-cell *matCellDef="let element"> {{element.origin}} </td>
              </ng-container>
              <!-- Stops -->
              <ng-container matColumnDef="stops">
                <th mat-header-cell *matHeaderCellDef> Stops </th>
                <td mat-cell *matCellDef="let element">
                  <div class="flex gap-05em">
                    <p *ngFor="let stop of element.stops" class="no-margin">{{stop.title | titlecase}}</p>
                  </div>
                </td>
              </ng-container>
              <!-- Trip Number -->
              <ng-container matColumnDef="tripNumber">
                <th mat-header-cell *matHeaderCellDef>Trip Number</th>
                <td mat-cell *matCellDef="let element"> {{element.tripNumber}} </td>
              </ng-container>
              <!-- Occupants -->
              <ng-container matColumnDef="destination">
                <th mat-header-cell *matHeaderCellDef> Destination </th>
                <td mat-cell *matCellDef="let element"> {{element.destination}} </td>
              </ng-container>
              <!-- Disc number -->
              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let element">
                  <mat-icon class="pointer" (click)="delete('trip',element)">delete</mat-icon>
                </td>
              </ng-container>


              <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>

              <!-- Row shown when there is no matching data. -->
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
              </tr>
            </table>
            <mat-paginator [length]="200" [pageSizeOptions]="[10, 50, 100]" aria-label="Select page">
            </mat-paginator>
          </div>
        </mat-tab>
      </mat-tab-group>
      <!-- Add Vehicle -->
      <div *ngIf="showVehicleForm" class="vehicle-form full-width full-height">
        <app-add-buses></app-add-buses>
      </div>
      <!-- Add Driver -->
      <div *ngIf="showDriverForm" class="driver-form full-width">
        <app-add-driver></app-add-driver>
      </div>
      <!-- Add TRIP -->
      <div *ngIf="showTripForm" class="trip-form full-width">
        <app-add-route></app-add-route>
      </div>
    </mat-card>
  </div>
</div>